@model List<Product>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td><img src="~/ProductImages/@product.ImagePath" width="100px" height="100px"/></td>
                <td>@product.Brand.Name</td>
                <td>@product.Category.Name</td>
                <td><a asp-action="DeleteProduct" asp-route-id="@product.ProductID" class="btn btn-danger" onclick="return areYouSure()">Sil</a></td>
                <td><a asp-action="UpdateProduct" asp-route-id="@product.ProductID" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </tbody>

    <tr>
        <td><a asp-action="InsertProduct" asp-controller="Product" class="btn btn-outline-success">Ürün Ekle</a></td>
    </tr>
</table>