@*@model Urun

<p>@Model.UrunID</p>
<p>@Model.UrunAdi</p>
<p>@Model.Fiyat</p>*@

@model IEnumerable<Urun>

<table>
    @foreach (Urun urun in Model)
    {
        <tr>
            <td>@urun.UrunID</td>
            <td>@urun.UrunAdi</td>
            <td>@urun.Fiyat</td>
        </tr>
    }
</table>
