@using Haber.Application.Models.DTOs;
@using Haber.Application.Models.VMs;
@model HaberDetayVM

<table>
    <tr>
        <td></td>
        <td><h2>@Model.Baslik</h2></td>
    </tr>

    <tr>
        <td></td>
        <td><img src="~/HaberResimleri/@Model.ResimYolu" width="200px" height="100px"/></td>
    </tr>

    <tr>
        <td></td>
        <td>@Model.Detay</td>
    </tr> 
    
    <tr>
        <td></td>
        <td>@Model.KategoriAdi</td>
    </tr>

    <tr>
        <td></td>
        <td><h2>@Model.EklemeTarihi</h2></td>
    </tr>

    <tr>
        <td></td>
        <td><h2>@Model.GoruntulenmeSayisi</h2></td>
    </tr>

    <tr>
        <td></td>
        <td>
            @* Yorumlar *@

            <table>
                @foreach (var yorum in Model.Yorumlar)
                {
                    <tr>
                        <td>@yorum.UserName</td>
                        <td>@yorum.YorumIcerik</td>
                        <td>@yorum.EklemeTarihi</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
@if (Model.IsSignedUser)
{
    YorumEkleDTO yorum = new YorumEkleDTO();
    yorum.HaberID = Model.HaberID;
    @Html.Partial("_YorumEklePartial", yorum)
}